body {
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */


}

@font-face {
    font-family: "azurnorms-bold";
    src: url("fonts/TTNorms-Bold.woff2");
}

@font-face {
    font-family: "azure-medium";
    src: url("fonts/azure-medium.woff2");
}

@font-face {
    font-family: "azure-norm";
    src: url("fonts/azur-norm.woff2");
}

@font-face {
    font-family: "segoe-medium";
    src: url(fonts/latest.woff2);
}

@font-face {
    font-family: "mfd-regular";
    src: url(fonts/mwfmdl2-v3.54.woff);
}

@font-face {
    font-family: "segeo-regular";
    src: url(fonts/latest\(1\).woff2);
}

@font-face {
    font-family: "sea";
    src: url(fonts/latest\(3\).woff2);
}

.container {
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100%;
    display: block;

}

#header {
    /* width: 100%; */
    padding: 10px 60px;
    display: flex;
    box-sizing: border-box;
    height: 54px;
    /* align-items: center; */
    border-bottom: 1px solid #d4d4d4;
    justify-content: center;
}

.header-padding {
    max-width: 1600px;
    width: 100%;
    /* height: 54px; */
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 0 10px;

}

.header-left {
    display: flex;
    flex-flow: row;
    overflow: hidden;
    align-items: center;

}

.header-logo {
    padding-right: 18px;
    display: block;
}

.header-logo img {
    width: 108px;
    height: 23px;

}

.team-text {
    display: flex;
    width: 81.1833px;
    text-align: center;
}

.team-text::before {
    border-left: 2px solid #000;
    height: 24px;
    content: " ";
    margin-left: 7px;
    margin-top: 1px;
}

#teams {
    font-family: "segoe-medium";
    font-size: 18px;
    padding: 0 10px;

}

#menu-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    /* width: 100%; */
}

#menu-list li {
    /* float: left; */
    padding: 0px 10px;
    display: flex;
    flex-flow: row;
    font-family: "segeo-regular";
    font-size: 14px;
}

#menu-list li a {
    text-decoration: none;
    color: black;
    font-family: "segeo-regular";
    font-weight: 100;

}


#menu-list li img {
    width: 8px;
}

#menu-list li:nth-child(2) {
    font-family: "seago-medium";
    /* background-color: aqua; */

}

.right-side {
    display: flex;
    gap: 20px
}

.right-side button {
    /* border-color: aqua; */
    background-color: white;
    padding: 0px 8px;
    border: 1px solid;
    border-radius: 3px;
    font-family: "segeo-regular";
    height: 31px;
    /* margin: 1px 8px; */
    /* padding:0px 4px; */
    font-size: 13px;
}

.banner-content {
    width: 100%;
    box-sizing: border-box;

}

.bg {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    transform: unset;
    max-height: 630px;
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
    /* min-height: 580px; */
    width: 100vw;
    z-index: -30;
}

.bg img {
    width: 100% !important;
    display: block !important;
    box-sizing: border-box;
    height: 100%;
    object-fit: cover;
    /* min-height: 580px; */
    object-position: center;
}

.element-margin {
    display: flex;
    padding: 5% 5%;
    position: absolute;
    /* padding-bottom: 6rem; */
    height: 630px;
    width: 100%;
    box-sizing: border-box;
    top: 0;

}

/* .empty{
    width: 50%;
    display: flex;
    position: relative;
} */
.banner-padding {
    padding-right: 3.5rem;
    padding-left: 3.5rem;
    width: 100%;
    padding-top: 0;
    margin-inline: auto;
    min-height: max-content;
    max-width: 1328px;
    margin-top: 3rem;

}

.banner-main {
    display: flex;
    flex-flow: column;
    /* margin-top: 2rem; */
    text-align: left;
    justify-content: left;
    width: 50%;

}

.banner-head {
    width: 100%;
    text-align: left;
    padding: 0;
}

.banner-head h1 {
    font-family: "segeo-regular";
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.6px;
    font-weight: 200;
    margin-bottom: 0;
    color: #0e1726;
}

.banner-paragraph {
    display: flex;
    text-align: left;
    /* padding-top: 0.75rem; */
}

.banner-paragraph p {
    font-family: "segeo-regular";
    font-size: 18px;
    font-weight: 100;
    line-height: 28px;
    letter-spacing: -0.54px;
}

.button-padding {
    /* margin-top: 24px; */
    display: block;
    /* cursor: pointer; */

}

.button-padding button {
    background-color: #5d5bd4;
    display: flex;
    justify-content: center;
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -.02em;
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    font-family: "segoe-medium";
    /* height:52px; */
    color: #fff;
    cursor: pointer;
}

.small-txt {
    display: none;
}

.main-section {
    overflow: hidden;
}

.section-nav {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: max-content;
    overflow-x: hidden;
}

.sticky-nav {
    display: flex;
    flex-flow: row;
    width: max-content;
    height: max-content;
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    position: sticky;
    z-index: 1000;
    top: 0;

}

.stickynav-padding {
    align-items: center;
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 3.5rem;
    /* top: 0; */



}

.nav-content1 {
    margin: 0.25rem;
    display: flex;
    width: 100%;
    flex-flow: row;
    align-items: left;
    /* border-bottom: 4px solid #0067b8; */
    /* margin-top: 8px; */
    /* padding: 0 3.5rem; */
    flex: 1;

}

.mobile-hide {
    text-align: left;
    left: 0;
    right: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    /* overflow: hidden; */
    justify-content: left;
    align-items: left;
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    padding-top: 6px;
    margin-left: -5px;
    column-gap: 3rem;
    margin: 0;

}

.mobile-hide li {
    font-family: "segoe-medium";
    width: fit-content;
    display: flex;
    flex-flow: column;
    cursor: pointer;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.48px;
    color: #333275;
    flex-wrap: wrap;
}

.mobile-hide li:first-child {
    padding-bottom: 16px;
    border-bottom: 4px solid #5d5bd4;
}

.mobile-hide li:last-child {
    /* padding-right: 0; */
    padding-bottom: 0;
    /* display: none; */

}

.hide-span {
    display: none;
}

.arrow {
    display: none;
}

.nav-content2 {
    display: flex;
    align-items: right;
}

.nav-content2 button {
    width: max-content;
    background-color: #5d5bd4;
    display: flex;
    justify-content: center;
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -.02em;
    padding: 10px 18px 12px;
    border: none;
    border-radius: 8px;
    font-family: "segoe-medium";
    /* height:52px; */
    color: #fff;
    cursor: pointer;

}

.main-section {
    display: block;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    /* background-color: #333275; */
}

.mainsection-padding {
    padding-top: 56px;
    padding-bottom: 56px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    justify-content: center;
    display: flex;


}

.section1-bg {
    /* background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Featured-Card-Background-1-1600x742?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=4000&hei=1855&qlt=100&fit=constrain); */
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Featured-Card-Background-1-1600x742?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=4000&hei=1855&qlt=100&fit=constrain);
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    display: flex;

}

.section {
    /* max-width: 1328px; */
    max-width: 1328px;
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    box-sizing: content-box;
    justify-content: center;
    display: flex;
    flex-flow: column;
    /* overflow-x: hidden; */
    margin-right: auto;
    margin-left: auto;
}

.section-head {
    display: flex;
    flex-flow: column;
    max-width: 100%;
    padding-bottom: 24px;
    gap: 10px
}

.top-head {
    font-family: "segoe-medium";
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.96px;
    color: #5d5bd4;
}

.content-head h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.5px;
    font-weight: 400;
    font-family: "segeo-regular";
    margin: 0;
}

.section1 {
    padding-top: 20px;
    margin-left: -12px;
    padding-right: .25rem;
    padding-left: .25rem;
    margin-top: 1px;
    box-sizing: content-box;
}

.section1-padding {
    padding-left: 8px;
    padding-right: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    /* overflow: hidden; */
}

.section1-item {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    column-gap: 2rem;
    box-shadow: 0 0 0.125rem rgb(0, 0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
    height: 100%;
    border: 0.0625rem solid #e6f2fb;
    border-radius: 16px;
}

.cardtop-padding {
    padding: 8px 8px 0 8px;
    display: block;
}

.card-img {
    border-radius: 8px;
    display: flex;
    width: inherit;
    height: auto;
}

.card-img img {
    border-radius: 16px;
    max-width: 100%;
    object-fit: cover;
    display: flex;
    height: auto;
}

.card-content {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-flow: column;
}

.card-cnt-padding {
    display: flex;
    align-items: flex-start;
    text-align: left;
    /* gap: 0.75rem; */
    flex-flow: column;
    width: 100%;
    height: inherit;
    justify-content: space-between;

}

.card-head {
    display: flex;
    align-items: flex-start;
    text-align: left;
    /* margin-top: 10px; */
}

.card-head h3 {
    font-family: "segoe-medium";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.54px;
    font-weight: 400;
    margin: 0;
}

.card-descript {
    padding-right: 24px;
}

.card-descript p {
    font-family: "segeo-regular";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    font-weight: 400;
}

.card-footer {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    bottom: 0;

}

.card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34.7px;
    height: 35px;
    background-color: #5d5bd4;
    border-radius: 8px;
    cursor: pointer;
}

.card-btn img {
    width: 14.7px;
    height: 15px;
    filter: invert(1);
}

.card-footer p {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.48px;
    color: #333275;
    font-family: "segoe-medium";
    margin: 0;
    cursor: pointer;
}

.section2 {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section2-padding {
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    flex-flow: column;


}

.section2-cont {
    margin-top: 24px;
    box-sizing: border-box;
}

.meet {
    width: 100%;
    border-left: 4px solid #5d5bd4;
    padding: 2rem 0;
    max-width: 32%;
}

.meet-content {
    margin-left: 40px;
}

.meet-head {
    width: 100%;
    display: flex;
    text-align: left;
    cursor: pointer;
    align-items: center;
    justify-content: left;
    gap: 10px
}

.meet-head h3 {
    font-size: 18px;
    line-height: 24px;
    font-family: "segoe-medium";
    text-align: left;
    font-weight: 400;
    color: #0e1726;
}

.meet-head img {
    width: 16px;
    height: 16px;
}

.meet-item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-sizing: border-box;
    padding-top: 1.5rem;
}

.meet-disc p {
    display: block;
    font-family: "segeo-regular";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    color: #17253d;
}

.meet-btn span {
    font-size: 14px;
    line-height: 20px;
    font-family: "segoe-medium";
    color: #383778;

}

.class-img {
    /* width: 100%; */
    border-radius: 16px;
    /* height: auto; */
    display: flex;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 40%;
    overflow: hidden;

}

.class-img img {
    display: flex;
    /* width: inherit;
    height: inherit; */
    object-fit: cover;
    border-radius: 16px;
    width: 100%;
    height: auto;

}

.call {
    width: 32%;
    margin-left: 40px;
}

.collaborate {
    width: 32%;
    margin-left: 40px;
}

.chat {
    margin-left: 40px;

}

.section3 {
    padding-top: 4.5rem;
    /* padding-bottom: 4.5rem; */
}

.section3-bg {
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Products-Card-Background_1600x1038?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=1038&qlt=100&fmt=png-alpha&fit=constrain);
    padding-bottom: 4.5rem;

}

.section3-cont {
    margin-top: 3rem;
    padding-right: .5rem;
    padding-left: .5rem;
    display: flex;
    flex-flow: column;
    gap: 3rem;
}

.tab-overflow>div {
    overflow-x: hidden;
    scrollbar-width: none;
    display: block;
    width: 100%;
}

.button-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: scroll;
    width: 100%;
}

.button-content button {

    margin-right: 0.5rem;
    border-radius: 200px;
    cursor: pointer;
    padding: .5rem 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: "segoe-medium";
    min-width: max-content;
    border: none;
    background-color: #e2e1f0;
    color: #424197;

}

.button-content button:first-child {
    background-color: #424197;
    color: #fff;
}

.section3-main {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.25rem;
    margin-left: -.25rem;
    width: 100%;
    height: 100%;
}

.sec3-padding {
    width: 100%;
    padding-right: .5rem;
    padding-left: .5rem;
    position: relative;
    margin-top: 24px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    gap: 16px;

}

.img-content3 {
    position: relative;
    width: 100%;
    display: flex;
    /* position: relative; */
    height: 100%;
    max-width: 25%;
}

.img-content3>div {
    width: 100%;
}

.shadow-img {
    /* width: 100%; */
    height: 100%;
    aspect-ratio: 20/8.6;
    object-fit: cover;
    display: flex;
    border-radius: 16px;

}


.img-content3 img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
    min-height: 200px;
}



.pic-discript {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    /* top: 0; */
    bottom: 0;
}

.discript-padding {
    align-items: flex-start;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding-left: 5px;
    padding-bottom: 5px;
}

.discript-padding h4 {
    height: fit-content;
    bottom: 0;
    color: #f4fafd;
    font-family: "sea";
    font-size: 31px;
    line-height: 40px;
    letter-spacing: -1.6px;
    color: #f4fafd;
    margin: 0;
}

.discript-padding p {
    color: #daecf6;
    font-family: "segeo-regular";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    margin: 0;
    font-weight: 200;

}

.discript-padding button {
    background-color: #b4b4eb;
    color: #22214a;
    display: flex;
    border: 2px solid transparent;
    width: 110.3px;
    height: 52px;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    justify-content: center;
    font-size: 15px;
}

.img-head {
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.img-head h3 {
    font-family: "segoe-medium";
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -1px;
    color: #f4fafd;
}

.descript-btn {
    display: flex;
    flex-direction: column !important;
    box-sizing: border-box;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
}

.text {
    font-family: "segeo-regular";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    color: #f4fafd;
}

.text-button {
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.text-button button {
    display: flex;
    background-color: #b3daf0;
    border: 2px solid transparent;
    width: 157.133px;
    height: 52px;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    justify-content: center;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.300px;
    font-family: "segoe-medium";

}

.section3-grid {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 18px;
    column-gap: 18px;
    display: grid;
    width: 100%;
    height: 100%;
    margin-top: 4px;
}

.grid-one {
    display: block;
    width: 100%;
    background-color: #fefefe;
    column-gap: 2rem;
    box-shadow: 0 0 0.125rem rgb(0, 0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
    height: 100%;
    border: 0.0625rem solid #e6f2fb;
    border-radius: 1rem;
    /* justify-content: space-around; */
}

.grid-one img {
    max-height: 24px;
    max-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}

.grid-one h4 {
    display: flex;
    align-items: flex-start;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.56px;
    font-family: "segoe-medium";
    color: #0e1726;
    padding-left: 20px;
    margin: 0;
}

.grid-one p {
    font-family: "segeo-regular";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    display: flex;
    align-items: flex-start;
    padding: 10px 20px;
}


.grid-one button img {
    padding: 8px 6px 9px;
    width: 14.7px;
    height: 15px;
    filter: invert(1);
    filter: invert(1);
    margin-bottom: 2px;

}

.grid-one button {
    align-items: center;
    height: 35px;
    border: none;
    background-color: #5d5bd4;
    border-radius: 8px;

}

.grid-one span {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 10px 20px;
    bottom: 0;
}

.grid-one span p {
    align-items: flex-end;
    /* background-color: #333275; */

}

.section4 {
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/1_Up_Card_Background-1600x678?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=678&qlt=100&fit=constrain);
    display: flex;
    /* width: 100%; */
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
    box-sizing: border-box;


}

.section4-padding {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;

}

.section4-content {
    padding-right: .5rem;
    padding-left: .5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-flow: row;
    background-color: #fefefe;
    box-sizing: border-box;
    border-radius: 16px;
    gap: 60px;
    /* padding-bottom: 1rem; */

}

.content-right {
    height: 100%;
    border-radius: 16px;
    display: flex;
    aspect-ratio: 10/13.5;
    max-height: 496px;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    /* flex: 1; */
    width: 100%;
    min-height: 100%;
    max-width: 50%;


}

.content-right img {
    border-radius: 16px;
    /* padding-right: 8px; */
    display: flex;
    aspect-ratio: 1.3333;
    object-fit: cover;
    height: 100%;
    width: 100%;
    min-height: 100%;

}

.content-left {
    max-width: 50%;

    display: flex;
    flex-flow: column;
}

.content-left h4 {
    margin-top: 20%;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.56px;
    font-family: "segeo-regular";
    color: #0e1726;
    /* margin: 0; */
    display: flex;
    width: 100%;
    justify-content: center;
}

.content-left p {
    font-family: "segeo-regular";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    width: 90%;
}

.content-left button {
    bottom: 0;
    margin-top: 14%;
    width: 133.6px;
    background-color: #5d5bd4;
    padding: 12px 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.48px;
    font-family: "segoe-medium";
    color: #fff
}

.content-left p:first-child {
    font-size: 12px;
    color: #5d5bd4;
}

.section5 {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    display: flex;

}

#section5-content {
    border: 0.0625rem solid #bbbec0;
    box-shadow: 0 0 0.125rem rgb(0, 0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);

}

.section5-left {
    padding: 10px;
}

.sec5-img {
    border: 0.0625rem solid #bbbec0;
    width: max-content;
    border-radius: 8px;
}

.sec5-img img {
    /* padding: 2px; */
    border-radius: 8px;
}

.left-string {
    font-size: 24px;
    font-family: "segeo-regular";
    line-height: 32px;
    letter-spacing: -1.2px;
}

.section5-left span {
    font-size: 16px;
    font-family: "segeo-regular";
    line-height: 24px;
    letter-spacing: -0.2px;
    margin: 20px 0;
    display: flex;
    flex-flow: column;

}

.section5-left p {
    font-size: 16px;
    font-family: "segoe-medium";
    line-height: 24px;
    letter-spacing: -0.48px;
    color: #101928;
}

.icon-span {
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: 14px;
    font-family: "segoe-medium";
    color: #101928;

}

.icon-span img {
    max-height: 24px;
    max-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    padding-left: 0;
}

.section5-left button {
    width: 133.6px;
    background-color: #5d5bd4;
    padding: 12px 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.48px;
    font-family: "segoe-medium";
    color: #fff
}

.section5-right {
    height: 100%;
    border-radius: 16px;
    display: flex;
    aspect-ratio: 10/13.5;
    max-height: 442px;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    min-height: 100%;
    max-width: 50%;
}

.section5-right img {
    object-position: cover;
    width: 100%;
    border-radius: 16px;
    display: flex;
    aspect-ratio: 1.3333;
    height: 100%;
    min-height: 100%;

}

.section5-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: .5rem;
    padding-right: .5rem;
}

.section5-bottom>div {
    box-shadow: 0 0 0.125rem rgb(0, 0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    padding: 2rem;

}

.btn-item:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}

.btn-item:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}

.btn-item img {
    width: 100%;
    height: 100%;
    padding: 1.4px 0;
    display: flex;

}

.desktop-hide {
    display: none;
}

.section6-padding {
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/CTA-Stacked_Background_1600x556?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=829&hei=1864&qlt=95&fit=constrain);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 100%; */
    /* background-position: center; */
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.section6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#section6-head {
    align-items: center;
}

.section6-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 8px;
    column-gap: 16px;
}

.card {
    background-color: #fff;
    box-shadow: 0 0 0.125rem rgb(0, 0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
    border-radius: 16px;
    padding: 1.5rem;
    justify-content: space-between;
    gap:3rem;
    display: flex;
    flex-flow: column;
}

.icon-img {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0625rem solid #e6f2fb;
    border-radius: 8px;

}

.card>div img {
    max-height: 24px;
    max-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h4 {
    display: flex;
    align-items: flex-start;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.56px;
    font-family: "segoe-medium";
    color: #0e1726;
    /* padding-left: 20px; */
    margin: 0;
}

.card p {
    font-family: "segeo-regular";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    display: flex;
    align-items: flex-start;
    padding: 10px 0px;
}

.card div:last-child {
    display: flex;
    flex-flow: row;
    align-items: center;
    font-family: "segoe-medium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    display: flex;
    gap: 10px;
    color: #333275;
    bottom: 0;

}

.card >div:last-child button {
    height: 35px;
    border: none;
    background-color: #5d5bd4;
    border-radius: 8px;
}

.card >div:last-child button img {
    padding: 8px 6px 8px 6px;
    width: 14.7px;
    height: 15px;
    filter: invert(1);
    filter: invert(1);
    /* margin-bottom: 20px; */
}

@media screen and (max-width:1440px) {
    .content-head h2 {
        font-size: 30px;
        line-height: 36px;
    }


    .section {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        box-sizing: border-box;
        margin: 0;
        width: 100%;

    }

    .sec3-padding {
        display: flex;
        flex-flow: column;
    }

    .img-content3>div {
        max-width: 100%;
    }

    .img-content3 {
        max-width: 100%;
    }
    .section6-grid{
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media screen and (max-width:1183px) {
    .right-side {
        display: none;
    }

    .small-txt {
        display: none;
    }

    .bg {
        height: 612px;
    }
}

@media screen and(max-width:914px) {
    .mobile-hide li:last-child {
        /* padding-right: 0; */
        padding-top: 10px;
        padding-bottom: 0;

    }

    .nav-content2 button {
        height: 100%;
        padding: 0.5rem 1rem;
    }

    .mobile-hide {
        margin-bottom: 1rem;
    }

    .section {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        box-sizing: border-box;
    }
}

@media screen and (max-width:859px) {
    #menu-list {
        display: none;
    }

    .team-text {
        display: none;

    }

    .header-logo {
        justify-content: center;
        display: flex;
        width: 100%;
    }

    .header-padding {
        justify-content: center;
    }

    .menu-btn {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .menu-btn img {
        width: 20px;
        height: 20px;
        display: block;
        /* position: absolute; */
    }

    .small-txt {
        display: flex;
        /* position: fixed; */
        top: 55px;
        width: 100%;
        background-color: #fff;
        height: 34px;
        box-sizing: border-box;
        padding: 0 5px;
        align-items: center;
        flex-flow: row;
        border-bottom: 1px solid #d4d4d4;

    }

    .txt {
        font-family: "segoe-medium";
        font-size: 16px;
        padding: 0 10px;
        letter-spacing: -0.6px;
        margin-top: -3px;

    }

    #txt-img {
        width: 18px;
        align-items: center;
        display: flex;
        margin-top: 2px;
    }

    .banner-content {
        display: flex;
        flex-flow: column;
        padding-bottom: 3rem;
    }

    .bg {
        position: relative;
        min-height: max-content;
        display: flex;
        flex-flow: column;
    }

    .element-margin {
        padding: 0;
        height: max-content;
        position: relative;
    }

    .banner-padding {
        margin-top: 0;
        padding: 0 4rem;

    }

    .banner-main {
        width: 100%;
    }

    .banner-head h1 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -1.6px;
        font-weight: 200;
        margin-bottom: 0;
        color: #0e1726;
    }

    .banner-paragraph p {
        font-size: 16px;

        line-height: 28px;
        letter-spacing: -0.54px;
    }

    .bg img {
        min-height: max-content;
    }

    .mobile-hide li:last-child {
        padding-top: 10px;
        padding-bottom: 0;

    }

    .mobile-hide {
        display: none;
    }

    .stickynav-padding {
        padding: 5px;
    }

    .nav-content1 {
        width: 100%;
        border-bottom: 4px solid #5d5bd4;

    }

    .hide-span {
        display: flex;
        font-family: "segoe-medium";
        line-height: 22px;
        letter-spacing: -0.48px;
        color: #333275;
        width: 100%;
        padding-bottom: 10px;
        font-size: 12px;
        margin-left: 5px;

    }

    .section {
        padding-right: 3.5rem;
        padding-left: 3.5rem;
    }

    .section1-padding {
        grid-template-columns: repeat(1, 1fr);

    }

    .grid-one {
        padding-right: 25px;
        text-align: left;
    }

    .grid-one img {
        padding-bottom: 10px;

    }

    .grid-one h4 {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .grid-one p {
        margin: 0;
        padding-bottom: 15px;
    }

    .section1 {
        margin-right: -.25rem;
    }

    .card-content {
        padding: 1rem;
    }

    .card-head {
        margin-top: 0;
    }

    .card-head h3 {
        margin: 0;
    }

    .card-content-padding {
        gap: 0
    }

    .section-head {
        padding-bottom: 0;
    }

    .section2-cont {
        margin-top: 0;
    }

    .meet {
        border-left: none;
        padding-top: 0;
        max-width: 100%;
    }

    .meet-content {
        margin-left: 0;
    }

    .meet-item {
        padding-top: 0;
    }

    .meet-head h3 {
        margin-bottom: 0;
    }

    .collabimg {
        width: 100%;
    }

    .class-img {
        width: 100%;
        border-radius: 16px;
        display: flex;
        object-fit: cover;
        background-color: #fff;
        position: relative;
        left: 0;

    }

    .class-img img {
        display: flex;
        width: inherit;
        height: inherit;
        object-fit: cover;
        border-radius: 16px;
        max-height: 572.5px;
    }

    .section3-grid {
        grid-template-columns: repeat(1, 1fr);

    }

    .discript-padding button {
        width: 100%;
    }

    .section4-content {
        flex-flow: column-reverse;
        padding-bottom: 1rem;
        gap: 10px;
    }

    .content-left {
        width: 100%;
        max-width: 100%;
    }

    .content-left h4 {
        margin-top: 0;
    }

    .content-left button {
        margin-top: 0;
    }

    .content-right {
        width: 100%;
        max-width: 100%;
    }

    .content-right {
       
        height: 100%;
        aspect-ratio: 1.333;
    }

   
    .section5-right {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        height: fit-content;
        aspect-ratio: 1.333;
        min-height: min-content;
    }

    .section5-right img {
        /* margin-right: 515px; */
        /* max-height: 100%; */
        /* height: 100%; */
        aspect-ratio: 1.333;
        min-height: min-content;
    }

    .section5-bottom {
        display: none;

    }

    .desktop-hide {
        display: flex;
        gap: 10px
    }

    .desktop-hide button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: #ffffff;

    }

    .desktop-hide button:first-child {
        border: 2px solid #c7ced6;
    }

    .desktop-hide button:last-child {
        border: 2px solid #333275;

    }

    .desktop-hide button:last-child img {
        transform: scaleX(-1);
    }

    .desktop-hide button img {
        width: 28px;
        height: 31px;
        padding: 8px;
    }
    .section6 {
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }
    .section6-grid{
        grid-template-columns: repeat(1,1fr);
    }
    .card{
        gap:2rem;
    }
    .card>div p{
        margin: 0;
    }
    .card>div:first-child{
      gap:0.75rem
    }
}
    @media screen and (max-width:539px) {
        .banner-padding {
            margin-top: 0;
            padding: 0 1rem;
        }

        .button-padding {
            width: 100%;
        }

        .button-padding button {
            width: 100%;
            /* padding: 0; */


        }

        .section {
            padding-right: 1rem;
            padding-left: 1rem;
        }

        .section1 {
            margin-right: -.5rem;
            /* margin-right: .25rem; */
        }

        .card-content {
            padding: 1rem;
        }

        .card-head {
            margin-top: 0;
        }

        .card-head h3 {
            margin: 0;
        }

        .card-content-padding {
            gap: 0
        }

    }
